a{
    text-decoration: none;
    color: black;
    font-size: 32px;
    display: block;
    border: 2px solid;
    background-color: wheat;
}

a:hover{
    background-color: gray;
}

img{
    width: 200px;
    height: 200px;
}

#menu{
    background-color: whitesmoke;
    width: 200px;
    height: 480px;
    text-align: center;
}