*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    margin: auto;
    background-image: url(/FodraszWeboldal-master/pics/marble1.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: repeat;
}

nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: black;
    height: 80px;
    width: 100%;
}

label.logo{
    color: black;
    background-color: darkorange;
    border-radius: 100px;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    margin-left: 15px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 22px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: darkorange;
    color: black;
    transition: .5s;
}

#logo a:hover{
    background: black;
    border-radius: 100px;

}

.checkbtn{
   font-size: 30px; 
   color: white;
   float: right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}

#firstp{
    font-size: 18px;
}

section{
    float: left;
}

#firstdiv{
    float: left;
    font-weight: bold;
    background-color: whitesmoke;
    color: black;
    margin-top: 50px;
    margin-left: 10px;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 50px rgba(0, 0, 0,  .5);
    border: 3px solid black;
}

#kep{
    float: right;
    background-color: black;
    height: 175px;
    width: 18%;
    padding: 10px;
    margin-top: 50px;
    margin-right: 15px;
    border-radius: 10px;
}