*{
    padding: 10px;
}

body{
    margin: auto;
    text-align: center;
    background-image: url(/pics/marble1.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: repeat;
}

.cimbox{
    box-sizing: border-box;
    border: 5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0,  .5);
    background-color: whitesmoke;
    clear: both;
}

.fobox{
    background-color: whitesmoke;
    margin-left: 300px;
    margin-top: 50px;
    box-sizing: border-box;
    border: 3px solid black;
    box-shadow: 0 0 30px rgba(0, 0, 0,  .10);
}

.idopont{
    clear: both;
    background-color: whitesmoke;
    border: 3px solid black;
}

#resz1{
    float: left;
    text-align: justify;
}

#kep1{
    float: right;
}










a{
    text-decoration: none;
    color: black;
    font-size: 32px;
    display: block;
    border: 2px solid;
    background-color: wheat;
}
a:hover{
    background-color: gray;
}
img{
    width: 200px;
    height: 200px;
    background-image: url(/pics/marble1.jpg);
}
#menu{
    background-color: whitesmoke;
    width: 200px;
    height: 480px;
    text-align: center;
}
#logo{
    background-image: url(/pics/marble1.jpg);
}